{% extends 'base.html' %} 
{% block content %}



<h2>{{workout.workout_name}}</h2>
<h2>{{workout.type}}</h2>
<h2>{{workout.created_at}}</h2>

<div class="detail__container">
    <div class="buttons">
        <div class="buttons">
    <a href="{% url 'workout_update' workout.pk %}" class="button is-info"> Update
        <span class="icon">
            <i class="fas fa-edit"></i>
        </span>
    </a>
    <a href="{% url 'workout_delete' workout.pk %}" class="button is-danger"> Delete
        <span class="icon">
            <i class="fas fa-trash-alt"></i>
        </span>
    </a>
</div>

<div class="detail__excercises mb-5">
    <h3 class="title is-3">Excercises</h3>

    {% for excercise in workout.excercises.all %}
    <div class="excercise">
      <span>{{forloop.counter}}</span>
      <span><b>{{excercise.name}}</b></span>
      <span>{{excercise.reps}}</span>
      <span>{{excercise.sets}}</span>
      <span>{{excercise.weight}}</span>
    </div>
		{% empty %}
    <article class="message">
      <div class="message-header">
        <p>No Excercises Available</p>
      </div>
    </article>

    {% endfor %}
  </div>


{% endblock %}