{% extends 'base.html' %} 
{% block content %}


<h2 class="title is-3">Workout Type: {{workout.type}}</h2>
<h2 class="title is-6">Date Completed: {{workout.created_at}}</h2>

<div class="detail__container">
    <div class="buttons">
        <div class="buttons">
    <a href="{% url 'workout_update' workout.pk %}" class="button is-info"> Update
        <span class="icon">
            <i class="fas fa-edit"></i>
        </span>
    </a>
    <a href="{% url 'workout_delete' workout.pk %}" class="button is-danger"> Delete
        <span class="icon">
            <i class="fas fa-trash-alt"></i>
        </span>
    </a>
</div>

<div class="detail__exercises mb-5">
<h3 class="title is-3">Add an Exercise</h3>
</div>

    <form class="mb-5" action="{% url 'exercise_create' workout.pk %}" method="post">
        {% csrf_token %}
        <div class="field has-addons">
            <div class="control">
                <input
                    class="input"
                    type="text"
                    name="name"
                    placeholder="Name"
                    required
                />
            </div>
            <div class="control">
                <input
                    class="input"
                    type="number"
                    name="reps"
                    placeholder="reps"
                    min="1"
                    required
                />
            </div>
            <div class="control">
                <input
                    class="input"
                    type="number"
                    name="sets"
                    placeholder="sets"
                    min="1"
                    required
                />
            </div>
            <div class="control">
                <input
                    class="input"
                    type="number"
                    name="weight"
                    placeholder="weight"
                    min="1"
                    required
                />
            </div>
            <div class="control">
                <input class="button is-primary" type="submit" value="Add Excercise" />
            </div>

        </div>
    </form>
    

<div class="detail__exercises mb-5">
    <h3 class="title is-3">Exercises</h3>

    {% for exercise in workout.exercises.all %}
    <div class="exercise">
      <span><p>Excercise #: </p>{{forloop.counter}}</span>
      <span><p>Name: </p><b>{{exercise.name}}</b></span>
      <span><p>Reps: </p>{{exercise.reps}}</span>
      <span><p>Sets: </p>{{exercise.sets}}</span>
      <span><p>Weight: </p>{{exercise.weight}}</span>
      <a href="{% url 'exercise_update' exercise.pk %}" class="button is-info"> Update
        <span class="icon">
            <i class="fas fa-edit"></i>
        </span>
    </a>
    <a href="{% url 'exercise_delete' exercise.pk %}" class="button is-danger"> Delete
        <span class="icon">
            <i class="fas fa-trash-alt"></i>
        </span>
    </a>
    </div>
		{% empty %}
    <article class="message">
      <div class="message-header">
        <p>No Exercises Available</p>
      </div>
    </article>

    {% endfor %}
  </div>


{% endblock %}